<h2 mat-dialog-title>Edit Item</h2>

<mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <input matInput formControlName="text">
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Close</button>
  <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>
